body {margin: 0; font-family: sans-serif;}

.header {margin: 20px; color: white; background: blue; height: 70px;}

.logo {float: left;}

.navbar {float: right;}

.navbar ul{list-style: none; padding-top: 10px;}

.navbar ul li{display: inline; margin: 10px;}

.navbar ul li a{text-decoration: none; color: white; }

.navbar ul li a:hover {border-bottom: 2px solid white;}

.gambar {width: 90%; display: grid; grid-template-columns: 1fr 1fr 1fr; margin:auto;}

.gambar .foto img{width: 300px;}

.foto {border: 1px solid black; margin:10px; text-align: center; }

.foto a{border: 1px solid green; padding:10px; color: white; background: blue; text-decoration: none; border-radius: 20px; cursor: pointer;}

.footer {text-align: center; margin: 20px; color: white; background: blue; height: 70px;}

.footer p{padding-top:25px;}

.footer a{text-decoration: none; color: white; }